
p {
  font-size: 1em;
  font-weight: bold;
}

li {
  font-size: 1em;
  font-weight: bold;
}

h2 {
  color: #A9A9A9;
  padding-bottom: 2%;
  font-size: 3em;
}

h4 {
  text-align: center;
  font-size: 4em;
  font-family: Rubik Mono One;
  color: #FF3B3F;
}

h5 {
  text-align: left;
  font-size: 3.5em;
  font-family: Rubik Mono One;
  color: #A9A9A9;
  margin-top: 4%;
}

h6 {
  text-align: left;
  font-size: 3.5em;
  font-family: Rubik Mono One;
  color: #A9A9A9;
  margin-top: 13.5%;
}

h1 {
  font-family: Rubik Mono One;
  color: #A9A9A9;
}

.jumbotron {
  background-color: #FF3B3F;
}

.container {
  margin-top: 2%;
}

.bottomjumbo {
  margin-top: 3%;
}

.btn-lg {
  margin-left: 25%;
  margin-top: 3%;
  text-align: center;
}

.bodywell {
  background-color: #CAEBF2;
}

.bottomwell {
  background-color: #EFEFEF;
}

.body {
  background-color: #EFEFEF;
}

.customers-name {
  color: #FF3B3F
}

.pizzaSize {
  color: #FF3B3F
}

.pizzaToppings {
  color: #FF3B3F
}

.finalPizzaCost {
  color: #FF3B3F
}

.sizesMargin {
  padding-top: 10% !important;
}

label {
  margin-top: 3%;
}

#showFinalPizza {
  font-family: Rubik Mono One;
}
